<template>
<div class="form">
    <h1>Add Prerequisite</h1>
  <form @submit.prevent="submitForm">

  <div>
      <label for="select_task">Select a Task</label>
      <select name="task" id="select_task" v-model="task" @change="detectChange()">
          <option v-for="task in tasks">{{task.title}}</option>
      </select>
  </div>
  <div>
      <label for="select_prerequisite">Select Prerequisite</label>
      <select name="task" id="select_prerequisite" multiple v-model="prerequisite">
          <option v-for="pre in prerequisites">{{ pre.title }}</option>
      </select>
  </div>
  <div>
    <button>Save</button>
  </div>
  </form>
</div>
</template>

<script>
import axios from "axios";

export default {
  name: "PrerequisiteForm",
  data(){
    return {
      tasks: null,
      task: null,
      title: null,
      prerequisite: [],
      prerequisites: [],
    }
  },
  created() {
    this.getTasks().then((res) => {
      this.tasks = res
      this.prerequisites = res
    })
  },
  watch: {
    '$route': 'getTasks'
  },
  methods: {
    detectChange() {
      this.prerequisites = this.tasks.filter((item) => {
        return item.title !== this.task
      })
    },
    submitForm() {
      axios.put(`/api/tasks/${this.task}/prerequisite`, {"prerequisites": this.prerequisite, "task": this.task})
          .then((res) => {
            console.log(res.data, this.task)
          })
    },
  }

}
</script>

<style>
.form{
  border: 1px solid black;
}
input, select {
  border: 1px solid black;
}

</style>
