<template>
    <div class="form">
        <h1>Create a New Task</h1>
        <form @submit.prevent="submitForm">
            <div>
                <label for="title">Task Title</label>
                <input id="title" type="text" v-model="task.title">
            </div>
            <div>
                <label for="type">Task Type</label>
                <select name="type" id="type" v-model="task.type">
                    <option value="common_ops" selected>Common Ops</option>
                    <option value="invoice_ops">Invoice Ops</option>
                    <option value="custom_ops">Custom Ops</option>
                </select>
            </div>
            <div v-if="task.type === 'invoice_ops'">
                <div>
                    <label for="currency">Currency</label>
                    <select name="currency" id="currency" v-model="task.currency">
                        <option value="₺" selected>₺</option>
                        <option value="€">€</option>
                        <option value="$">$</option>
                        <option value="£">£</option>
                    </select>
                </div>
                <div>
                    <label for="amount">Amount</label>
                    <input type="text" id="amount" v-model="task.amount">
                </div>
            </div>
            <div v-if="task.type === 'custom_ops'">
                <label for="country">Country</label>
                <input type="text" id="country" v-model="task.country">
            </div>
            <div>
                <button type="submit">CREATE</button>
            </div>
        </form>

    </div>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            task: {
                title: "",
                type: "common_ops",
                amount: null,
                currency: "₺"

            }
        }
    },
    methods: {
        submitForm() {
            this.filterForm(this.task)
            axios.post('/api/tasks', this.task)
            .then((res) => {
                alert(res.data.status)
            })
        },
        filterForm() {
            if (this.task.type === 'common_ops') {
                delete this.task.currency
                delete this.task.amount
                delete this.task.country
            } else if (this.task.type === 'inovice_ops') {
                delete this.task.country
            }else if(this.task.type === 'custom_ops') {
                delete this.task.currency
                delete this.task.amount
            }
        }
    }
}
</script>

<style>
.form{
    border: 1px solid black;
}
input {
    border: 1px solid black;
}

</style>
