<template>
<div>
    <div>
        <router-link :to="{name: 'createTask'}">Create a Task</router-link> |
        <router-link :to="{name: 'addPrerequisite'}">Add a Prerequisite</router-link> |
        <router-link :to="{name: 'tasks'}">List all Tasks</router-link> |
        <a href="/order">Order the Tasks</a> |
    </div>

    <div class="background">
        <router-view></router-view>
    </div>
</div>
</template>

<script>
import TaskForm from './components/TaskForm'
export default {
    data() {
        return {}
    },

}
</script>
<style>

</style>
